    <!-- PAGE | WELCOME -->

    <div class="pages white paralax page-welcome" id="page-welcome">

        <!-- Centralized content -->
        <div class="container">
            <div class="row-fluid">
                <div class="span12 center">
                    <!-- Animated logo -->
                    <br/><br/>
                    <div ui-sref="page.project">
                      <img src="images/pages/welcome/community-capital.png" style="width: 250px" alt="Treble">
                    </div>

                    <div class="line-divider" id="welcome-messages">
                        <ul class="slides">
                            <li>
                                <h1>Community Capital</h1>
                            </li>
                        </ul>

                        <h3>Getting communities invested in their future</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END PAGE | Welcome -->
    
    <!-- PAGE | FEATURES  -->
    <div class="pages paralax" id="page-features">
        <div class="container">
             <!-- Article -->
            <article>
                <!-- Features blocks -->
                <div class="row-fluid">
                  <div class="span12 center">
                    <h2>Community Capital</h2>
                    <h5>We are a community based crowdfunding platform that matches investors with developers who are making positive contributions to their local communities.</h5>
                  </div>
                </div>
                <div class="row-fluid">
                    <div class="span3 center">
                        <br/>
                        <img src="images/pages/features/developers.png" alt="Treble">
                    </div>
                    <div class="span2 center">
                        <br/>
                        <br/>
                        <br/>
                        <img src="images/pages/features/arrow.png" alt="Treble">
                    </div>
                    <div class="span2 center">
                        <br/>
                        <img src="images/logo2.png" alt="Treble">
                    </div>
                    <div class="span2 center">
                        <br/>
                        <br/>
                        <br/>
                        <img src="images/pages/features/arrow.png" alt="Treble">
                    </div>
                    <div class="span3 center">
                        <br/>
                        <img src="images/pages/features/community.png" alt="Treble">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 center">
                        <h5>Real-Estate Developers</h5>
                        <p class="smallFontBy08 cutBy10">
                          We give developers an alternative method of financing projects that provides a valuable connection with the local community
                        </p>
                    </div>
                    <div class="span4 center">
                        <h5>Community Capital</h5>          
                        <p class="smallFontBy08 cutBy10">
                          Community capital is an easy and affordable way to gain exposure to real estate, while having a say in my community’s future  
                        </p>
                    </div>
                    <div class="span4 center" ui-sref="page.investor.search">
                        <h5>Financial Investors</h5>    
                        <p class="smallFontBy08 cutBy10">
                          We provide a safe and simple way to add diversity to your investment portfolio, while limiting your exposure to the interest rate sensitivity of REITs
                        </p>
                    </div>
                </div>
                <div class="row-fluid" style="text-align: center">
                  <br/>
                  <a ui-sref="page.signup" class="btn btn-primary">Sign Up</a>
                </div>
                <br/>
                <br/>
            </article>
            <!-- End Article -->
        </div>
    </div>
    <!-- END PAGE | FEATURES -->
    

    <!-- PAGE | CONTACT -->

    <div class="pages black-bg white page-contact" id="page-contact">
        <div class="container">
            <!-- Header -->
            <header>
                <h4>
                  We are already crowdfunding local investments, and will be posting their information soon.
                </h4>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            Community Capital will be launching in 2014. If you have any questions please email us at community.capital.info@gmail.com
                        </p>
                    </div>
                </div>
                <h1>Interested?</h1>
            </header>

            <!-- End Header -->

            

            <!-- Start Article -->

            <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span5 offset1">
                        <h5>If you are a company seeking capital</h5>
                        <form>
                            <input type="text" class="span12" placeholder="Name" required="required">
                            <input type="email" class="span12" placeholder="Email" required="required">
                            <input type="text" class="span12" placeholder="Phone" required="required">
                            <textarea class="span12" placeholder="Describe your questions for getting finance from our platform" required="required"></textarea>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <!-- End Contact form -->

                    <!-- Contact information -->

                    <div class="span5">
                        <h5>If you are an investor</h5>
                        <form>
                            <input type="text" class="span12" placeholder="Name" required="required">
                            <input type="email" class="span12" placeholder="Email" required="required">
                            <input type="text" class="span12" placeholder="Phone" required="required">
                            <textarea class="span12" placeholder="Describe your questions and concern about investing via our platform" required="required"></textarea>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <!-- End Contact information -->

                </div>
            </article>

            <!-- End Article -->
        </div>

        <!-- Background map image -->

        <div id="map-image">
            <img src="images/pages/contact/map_bck.jpg" alt="Treble">
        </div>
    </div>

    <!-- END PAGE | CONTACT -->