<!-- PAGE | BLOG -->
<div class="pages page-blog-list" id="page-blog-list">
    <div class="container">
      <br/>
        <!-- Header -->
        <!-- End Header -->

	<!-- Dash Table -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Investments Overview</h3>
    </div>
    <div class="panel-body">
			<table class ="table" >
				<tr>
					<th>Project</th>
					<th>Book Value</th>
					<th>Investment Income</th>
					<th>Capital Gains</th>
					<th>Realized (y/n)</th>
				</tr>
				<tr>
					<td style="vertical-align: middle;">abc</br>
            <img class="thumbnail" src="images/building1.jpg" border=3 height=300 width=300 align="middle"></td>
					<td style="vertical-align: middle;">$86,850.00</td>
					<td style="vertical-align: middle;">$5,850.00</td>
					<td style="vertical-align: middle;">6.74%</td>
					<td style="vertical-align: middle;">yes</td>
				</tr>
				<tr>
					<td style="vertical-align: middle;">abc</br><img class="thumbnail" src="images/building2.jpg" border=3 height=300 width=300 align="middle"></td>
					<td style="vertical-align: middle;">$58,850.00</td>
					<td style="vertical-align: middle;">$3,150.00</td>
					<td style="vertical-align: middle;">5.35%</td>
					<td style="vertical-align: middle;">YES</td>
				</tr>
				<tr>
					<td style="vertical-align: middle;">abc</br><img class="thumbnail" src="images/appartment.jpg" border=3 height=300 width=300 align="middle"></td>
					<td style="vertical-align: middle;">$330,000.00</td>
					<td style="vertical-align: middle;">$20,150.00</td>
					<td style="vertical-align: middle;">6.11%</td>
					<td style="vertical-align: middle;">NO</td>
				</tr>
				<tr>
					<td style="vertical-align: middle;">TOTAL</td>
					<td style="vertical-align: middle;">$1,249,700.00</td>
					<td style="vertical-align: middle;">$72,150.00</td>
					<td style="vertical-align: middle;">5.77%</td>
					<td style="vertical-align: middle;"> </td>
				</tr>
			</table>
    </div>
  </div>
	<!-- End of Dash Table -->
	
        
    </div>
</div>
<!-- END PAGE | BLOG -->
