<!-- PAGE | BLOG -->
<div class="pages page-blog-list" id="page-blog-list">
    <div class="container">
        <br/><br/>
        <!-- Header -->
        <header>
            <h4 class="line-divider">Property Deal</h4>
            <h1>Marine Drive Appartment</h1>
        </header>
        <!-- End Header -->

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Property</h3>
              </div>
              <div class="panel-body">
                <img class="thumbnail" src="images/appartment.jpg">
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque eros
                  ut mi venenatis, quis blandit ipsum ultricies. Nam non dui vel urna pulvinar 
                  feugiat at sit amet diam. In tincidunt bibendum ligula ac rhoncus. Curabitur a 
                  pulvinar odio, ac ullamcorper eros. Duis tempus consequat metus, ac pharetra urna
                  luctus sit amet. Nam nec nibh at felis varius semper. Nunc vel justo non mi 
                  lacinia egestas. Praesent pretium libero urna, a commodo magna cursus eu. 
                  Etiam et adipiscing odio. Nulla ultricies vestibulum neque, non tincidunt ligula. 
                  Donec ac volutpat magna. Quisque et risus vitae nisi euismod cursus. Duis egestas
                  quam non magna vehicula tincidunt.
                  <p></p>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Developer</h3>
              </div>
              <div class="panel-body">
                  Nam augue mi, lobortis nec scelerisque sed, placerat sed nulla. Aenean facilisis 
                  mauris commodo, pulvinar tellus id, faucibus neque. Quisque eleifend turpis neque,
                  pulvinar dapibus libero egestas vitae. Nulla vel cursus odio, tristique facilisis
                  arcu. Nulla consequat euismod suscipit. Aenean luctus suscipit quam sed vulputate.
                  Aliquam id enim ipsum. Nam blandit dolor nibh. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Sed suscipit convallis libero ut suscipit. Fusce
                  erat neque, vestibulum et eleifend semper, aliquet vel felis. Morbi sed placerat
                  urna.
              </div>
            </div>

            
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Investment Information</h3>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td><em>Offering Type</em></td>
                    <td>Mezzanine debt</td>
                  <tr>
                  <tr>
                    <td><em>Yield</em></td>
                    <td>8-12%</td>
                  <tr>
                  <tr>
                    <td><em>Who</em></td>
                    <td></td>
                  <tr>
                  <tr>
                    <td><em>Offering Size</em></td>
                    <td>$1 million</td>
                  <tr>
                  <tr>
                    <td><em>Term</td>
                    <td>2 years 6 months</em></td>
                  <tr>  
                  <tr>
                    <td><em>Minimum Investment</em></td>
                    <td>$25000</td>
                  <tr>       
                </table>
                
                <div class="progress">
                  <div class="progress-bar progress-bar-info" style="width: 30%">
                    <span>Lead Investor</span>
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 5%">
                    <span>C C</span>
                  </div>
                  <div class="progress-bar progress-bar-success" style="width: 65%">
                    <span>Crowdsourced</span>
                  </div>
                </div>
                
                <div class="text-center">
                  <button class="btn btn-primary">Invest</button>
                </div>
                
              </div>
            </div>
          
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Lead Investor</h3>
              </div>
              <div class="panel-body">
                <img src="images/investor.jpg" style="max-width: 180px; max-height: 180px"/>
                <br/><strong>John Doe</strong>
                <p>
                  Sed risus velit, aliquet in ante eget, pulvinar pellentesque orci. Nam congue,
                  ligula ac cursus aliquam, est mi ultrices odio, quis condimentum augue metus vel augue.
                </p>
                <em>Previous Investments</em>
                <ul>
                  <li>Investment 1</li>
                  <li>Investment 2</li>
                </ul>
              </div>
            </div>
            
          </div>
          

  
        </div>

    </div>
</div>
