
	<!-- Dash Table -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Investments Overview</h3>
    </div>
    <div class="panel-body">
			<table class ="table" >
				<tr>
					<th>Project</th>
					<th>Book Value</th>
					<th>Investment Income</th>
					<th>Capital Gains</th>
					<th>Realized (y/n)</th>
				</tr>
				<tr>
					<td>
            <img class="thumbnail" src="images/building1.jpg" border=3 height=150 width=150 align="middle"></td>
					<td style="vertical-align: middle;">$86,850.00</td>
					<td style="vertical-align: middle;">$5,850.00</td>
					<td style="vertical-align: middle;">6.74%</td>
					<td style="vertical-align: middle;">yes</td>
				</tr>
				<tr>
					<td>
            <img class="thumbnail" src="images/appartment.jpg" border=3 height=150 width=150 align="middle"></td>
					<td style="vertical-align: middle;">$330,000.00</td>
					<td style="vertical-align: middle;">$20,150.00</td>
					<td style="vertical-align: middle;">6.11%</td>
					<td style="vertical-align: middle;">NO</td>
				</tr>
				<tr>
					<td style="vertical-align: middle;">TOTAL</td>
					<td style="vertical-align: middle;">$416,850.00</td>
					<td style="vertical-align: middle;">$26,000.00</td>
					<td style="vertical-align: middle;">6.23%</td>
					<td style="vertical-align: middle;"> </td>
				</tr>
			</table>
    </div>
  </div>
	<!-- End of Dash Table -->