<br/><br/><br/>
<form class="form-horizontal" id="registration" method='post'>
        <fieldset>
        <legend>Registration Form</legend>
        <div class="control-group">
                <label class="control-label">Username:</label>
            <div class="form-group">
                <input type="text" id="username" name="user_name">

            </div>
        </div>
        

    
        <div class="control-group">
            <label class="control-label">Password:</label>
                <div class="form-group">
                    <input type="text" id="password" name="password1">

                </div>
        </div>

        <div class="control-group">
        <label class="control-label">Confirm Password:</label>
            <div class="form-group">
                <input type="text" id="password" name="password2">

            </div>
        </div>
    
    
        <div class="control-group">
            <label class="control-label">Email:</label>
            <div class="form-group">
                <input type="text" id="email" name="email">

            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label"></label>
            <div class="form-group">
                <button type="button" class="btn btn-default navbar-btn">Submit</button>
            </div>
        </div>
        </fieldset>